.header {
  position: sticky;
  z-index: 999;
  top: 0;
  padding-top: 18px;
  transition: all $transition-medium;
  color: $color-orange;
  background-color: $color-black;

  &__flex-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__phone {
    margin-left: auto;
    color: $color-white;
    font: $roboto-slab-bold-46;
  }

  &__logo {
    width: 161px;
    height: 161px;
    transition: all $transition-medium;
  }

  &__menu {
    position: absolute !important;
    left: 0;
    visibility: hidden;
    margin: auto 0;
    opacity: 0;
  }

  &_position_not-top {
    padding-top: 0;
  }

  &_position_not-top &__menu {
    visibility: visible;
    opacity: 1;
  }

  &_position_not-top &__phone {
    padding-bottom: 7px;
  }

  &_position_not-top &__logo {
    visibility: hidden;
    height: 60px;
    opacity: 0;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 16px;
  transition: all $transition-medium;
  font: $roboto-slab-bold-25;

  &__item {
    position: relative;
    padding: 16px 0;
    cursor: pointer;
    transition: all $transition-fast;

    &:after {
      position: absolute;
      bottom: 0;
      left: -8px;
      width: calc(100% + 16px);
      height: 0;
      content: '';
      transition: all $transition-fast;
      background-color: $color-white;
    }

    &:hover {
      color: $color-white;

      &:after {
        height: 6px;
      }
    }
  }

  .header_position_not-top & {
    visibility: hidden;
    margin-top: -65px;
    opacity: 0;
  }
}

.menu-icon {
  position: relative;
  z-index: 10;
  width: 50px;
  height: 40px;
  cursor: pointer;
  transition: .5s ease-in-out;
  transform: rotate(0deg);

  span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 7px;
    transition: .25s ease-in-out;
    transform: rotate(0deg);
    opacity: 1;
    border-radius: 9px;
    background: $color-white;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 15px;
    }

    &:nth-child(4) {
      top: 30px;
    }
  }

  &_opened {
    span {
      &:nth-child(1) {
        top: 15px;
        left: 50%;
        width: 0;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 15px;
        left: 50%;
        width: 0;
      }
    }
  }
}