.reviews {
  background: $color-brown;
  padding-bottom: 37px;

  &__title {
    color: $color-white;
  }

  &__slider {
    padding: 0 105px;
  }

  &__slide {
    margin-right: 10px;
    width: 1034px;
  }

  &__message {
    white-space: normal;
    position: relative;
    padding: 37px 210px 72px 66px;
    min-height: 218px;
    background: $color-white;
    font: $roboto-regular-24;
    margin-bottom: 71px;
    border-radius: 10px;

    &:after {
      content: '';
      position: absolute;
      right: 75px;
      top: 100%;
      border-color: $color-white transparent;
      border-style: solid;
      border-width: 50px 30px 0 30px;
    }
  }

  &__author {
    text-align: right;
    min-height: 23px;
    font: $roboto-bold-24;
    color: $color-white;
  }

  &__arrow {
    margin-top: -50px;
  }
}