.work {
    background-color: $color-white;
    &__image {
        color: $color-brown;
        align-content: center;
    }
    &__line {
        height: 2px;
        background-color: $color-brown;
    }
    &__point {
        width: 20px;
        height: 20px;
        background-color: $color-brown;
        border-radius: 10px;
        margin-top: -37px;
    }
    &__txt {
        color: $color-black;
        font: $roboto-bold-30;
        text-align: center;
        margin-left: -30px;
    }
    &__txt_margin-right-115 {
        margin-right: -115px;
    }
    &__txt_margin-right-240 {
        margin-right: -240px;
    }
    &__txt_margin-right-140 {
        margin-right: -140px;
    }
}