body {
  overflow-x: hidden;
  padding-top: 230px;
  background-color: $color-black;
  font-family: 'Roboto', sans-serif;
}

* {
  outline: none !important;
}

.title {
  width: 100%;
  margin: 25px 0;
  text-align: center;
  font: $roboto-slab-bold-48;
}

.icon {
  display: inline-block;
  fill: currentColor;
}

.large-button {
  margin: 35px auto;
  padding: 12px 15px 10px;
  cursor: pointer;
  color: $color-white;
  border-width: 0;
  border-radius: 10px;
  background-color: $color-brown-bright;
  font: $roboto-bold-30;
}