body {
  padding-top: 230px;
  background-color: $color-black;
  font-family: 'Roboto', sans-serif;
}

* {
  outline: none !important;
}

.title {
  width: 100%;
  margin: 25px 0;
  text-align: center;
  font: $roboto-slab-bold-48;
}

.icon {
  display: inline-block;
  fill: currentColor;
}