$color-black:#020502;
$color-orange:#be785d;
$color-brown: #8a6152;
$color-brightBrown: #d96a25;
$color-white: #ffffff;

$roboto-slab-bold-18: 700 18px Roboto Slab;
$roboto-slab-bold-24: 700 24px Roboto Slab;
$roboto-slab-bold-46: 700 46px Roboto Slab;
$roboto-slab-bold-48: 700 48px Roboto Slab;
$roboto-slab-regular-14: 400 14px Roboto Slab;

$roboto-bold-30: 700 30px Roboto;
$roboto-regular-30: 400 30px Roboto;

// font-family: 'Roboto Slab', serif;