<header id="header" class="header">
  <div class="container">
    <div class="row no-gutters">
      <div class="header__flex-container">
        <div id="menu-icon" class="header__menu menu-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <icon id="logo" class="header__logo"></icon>
        <a href="tel:+78129217838" class="header__phone link-default">
          +7 (812) 921 78 38
        </a>
      </div>
      <nav id="nav" class="nav">
        <a href="#" class="nav__item link-default">УСЛУГИ</a>
        <a href="#" class="nav__item link-default">ЦЕНЫ</a>
        <a href="#" class="nav__item link-default">ГАЛЕРЕЯ</a>
        <a href="#" class="nav__item link-default">ПРАВОВАЯ БАЗА</a>
        <a href="#" class="nav__item link-default">БЛОГ</a>
        <a href="#" class="nav__item link-default">ОТЗЫВЫ</a>
      </nav>
    </div>
  </div>
</header>